<main>
  <nz-table #nzTable [nzData]="treeTable">
    <thead>
      <tr>
        <th nzShowExpand></th>
        <th>ID</th>
        <th>Name</th>
        <th>Phone</th>
        <th>City</th>
        <th class="center-text">Delete</th>
        <th>asd</th>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-data [ngForOf]="nzTable.data">
        <tr>
          <td *ngIf="!parentID" nzShowExpand [(nzExpand)]="mapOfExpandData[data.ID]"></td>
          <td>{{data. ID}}</td>
          <td>{{data.Name}}</td>
          <td>{{data.Phone}}</td>
          <td>{{data.City}}</td>
          <td class="center-text"><a href=""><i nz-icon type="delete" theme="outline"></i></a></td>
        </tr>
        <tr [nzExpand]="mapOfExpandData[data.ID]">
          <td></td>
          <td colspan="3">{{data.parentID}}</td>
          <td></td>
          <td></td> 
        </tr>
      </ng-template>
    </tbody>
  </nz-table>   
</main>

